/* PAGE INNER */

.page-inner {
  position: relative;
  display: flex;
}

/* MAIN MENU */

.main-menu {
  position: fixed;
  width: 120px;
  height: 100vh;
}

/* PAGE */

.page {
  position: absolute;
  left: 120px;
  width: calc(100% - 120px);
}

/* MAIN MENU */

.main-menu__top {
  height: 30%;
}
.logo span {
  font-size: 2.2rem;
  font-weight: 600;
}
.logo .logo-j {
  /* color: #3120E0; */
  font-weight: 700;
  font-size: 7.9rem; 
  line-height: 6.2rem;
  text-shadow: -2px 1px 3px #e9d8a6, -4px 2px 3px #20c79e;
  margin-bottom: 16px;
}
.main-menu__nav {
  height: 40%;
}
.main-menu__nav ul {
  background-color: #f6184c74;
}
.main-menu__nav li {
  border-color: #1312122f;
}
.main-menu__nav li:first-child {
  border-color: #1312122f;
}
.main-menu__nav li a {
  font-weight: 500;
  top: -7px;

}
.main-menu__nav li:first-child a {
  color: #e9d8a6;
}
.main-menu__social {
  height: 30%;
  flex-direction: column;
  padding: 22px 0 16px 0;
}
.main-menu__social li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu__social img {
  width: 17px;
  height: 17px;
}

/* TITLE (GENERAL) */

.page .title {
  margin: 0 0 52px;
  font-size: 6.8rem;
}

/* BUTTON (GENERAL) */

.button {
  width: 215px;
  height: 48px;
}

/*  SECT HOME */
.sect-home__m-txt {
  font-size: 8.5rem;
  line-height: 7.1rem;
}
.sect-home__m-txt span {
  font-size: 8.7rem;
  line-height: 7.1rem;
}

/* SECT ABOUT */

.sect-about {
  margin-bottom: 8vh;
}
.sect-about--two {
  padding-top: 42px;
  justify-content: flex-start;
}
.sect-about--two .sect-about__txt-zone .title {
  margin-bottom: 80px;
}
.sect-about__txt-zone {
  height: auto;
  padding: 0;
}
.sect-about__txt-zone p {
  width: 57%;
  padding-right: 20px;
}
.sect-about__txt-zone img {
  width: 38%;
  margin: 10px 0 0 26px;
  max-width: 340px;
  height: 29.5vw;
  max-height: 350px;
}

/* SECT SKILLS */
.page-inner .sect-skills {
  margin-bottom: 9vh;
}
.page-inner .sect-skills--two {
  min-height: 105vh;
}
.sect-skills__content--two {
  top: 64px;
}

.sect-skills__content {
  width: 86%;
}
.sect-skills__content .title {
  line-height: 6.2rem;
}

.sect-skills__content p {
  font-size: 1.6rem;
}
/* .sect-skills__list {
  row-gap: 50px;
} */
.sect-skills__list img {
  width: 55px;
  height: 55px;
  margin-bottom: 6px;
}
.sect-skills__list span {
  font-size: 1.6rem;
}

/* SECT PROJECTS */
.sect-projects {
  padding-top: 40px;
}

.sect-projects__txt-zone {
  width: 86%;
}
.sect-projects__txt-zone p {
  font-size: 1.6rem;
}

/* PROJECTS WALL */

.projects-zone {
  width: 86%;
  grid-template-columns: 48% 48%;
  gap: 30px;
}
.project {
  /* width: 36vw;
  height: 22.7vw; */
  width: 98%;
  height: 22.9vw;
  margin-bottom: 15px;
}
.project img {
  height: calc(100% - 58px);
}
.project__info {
  max-height: 58px;
  padding: 0 0 9px 10px;
}
.project .project__title {
  font-size: 1.5rem;
  margin-bottom: 3px;
}
.project__tools {
  margin-top: 6px;
  padding-bottom: 4px;
}
.project .project__info span {
  font-size: 1.4rem;
  height: 18px;
}
.project__button {
  width: 86%;
}

/* SECT BLOG */
.sect-blog--two {
  min-height: 100vh;
  /* position: relative; */
}
.sect-blog--two .sect-blog__title {
  /* position: absolute;
  top: 40px; */
  padding-top: 40px;
  margin-bottom: 0;
}

.sect-blog__title {
  width: 86%;
}
.sect-blog__articles {
  width: 86%;
  grid-template-columns: 48% 48%;
}
.post__article {
  width: 98%;
  max-width: none;
  height: 26vw;
  /* align-items: center; */
}
.post-content {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 19px;
}
.post-content h4 {
  font-size: 1.5rem;
}
.post-content h5 {
  font-size: 2.3rem;
  margin: 5px;
}
.post-content p {
  font-size: 1.6rem;
}

/* SECT CONTACT */
.sect-contact {
  border-bottom: 1px solid #131212;
  padding-top: 15px;
}
.sect-contact__txt-zone {
  width: 86%;
}

/* FOOTER */
.footer {
  height: 30vh;
  /* border-top: 2px solid #131212; */
}
.footer__content {
  min-height: 140px;
  /* height: 150px; */
}
