/* /mnt/c/Users/juanp/Documents/JP/portfolio/assets */

:root{
	--main-font:'Pridi', serif;
	--sec-font:'Open Sans', sans-serif;
  --main-black: #1d1d1d;
	--sec-black: #131212;
	--main-white:#FFFFFF;
	--sec-white:#FAF8F7;
  --red: #f6184c;
  --main-green: #20c79e;
  --sec-green: #94d2bd;
  --light-green: #e9d8a6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: var(--main-font);
  color: var(--main-white);
  
}
.inactive {
  display: none;
}


.page-inner {
  /* position: relative; */
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--main-black);
}

.mbtn {
  position: fixed;
  z-index: 111;
  top: 10px;
  right: 10px;
  border-radius: 3px;
}
.mbtn-op {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(7, 12, 10, 0.575);
  /* background-image: url(../assets/icons/menu.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.mbtn-op img {
  display: block;
  width: 34px;
  height: 44px;
}

.sect-home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 280px;
  height: 100vh;
  text-align: left;
}
.sect-home__txt-zone {
  width: 78%;
  color: var(--main-white);

}
.sect-home__m-txt {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  margin-bottom: 22px;
}
.sect-home__m-txt span {
  color: var(--red);
  font-weight: 700;
  text-shadow: -2px 1px 3px #e9d8a6, -4px 2px 3px #20c79e;
}
.sect-home__s-txt {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-bottom: 25px;
}

.button {
  margin: 20px 0 10px;
  width: 140px;
  height: 3.5rem;
  border-radius: 1px;
  border-color: var(--red);
  background-color: var(--sec-black);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--main-green);
  box-shadow: 2px 2px 5px 1px var(--sec-green), -2px -2px 5px 1px var(--sec-green);
  cursor: pointer;
}

.sect-about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 280px;
}
.sect-about__txt-zone {
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 25px 0;
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--red);
  text-shadow: -1px 1px 3px #e9d8a6, -2px 2px 3px #20c79e;
  align-self: flex-start;
}
.sect-about__txt-zone p {
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-family: var(--sec-font);
}  

.sect-about img {
  margin: 20px 0 40px;
  width: 206px;
  height: 210px;
  align-self: flex-start;
}

.sect-projects {
  position: relative;
  display: flex;
  /* margin-top: 30px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 280px;
  height: 100vh;
}
.sect-projects__txt-zone {
  width: 78%;
}
.sect-projects__txt-zone p {
  font-size: 1.5rem;
  font-family: var(--sec-font);
  margin-bottom: 45px;
}

.projects-wall {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 280px;
  height: 100vh;;
}

.sect-blog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 280px;
  text-align: left;
}
