/* NAV-BAR */
nav {
  height: 68px;
  padding: 10px 26px 10px 24px;
}
nav h1 a {
  font-size: 3.8rem;
  text-shadow:  1px 1px 22px #f6184c8a;
}

.nav-links {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: none;
  width: 570px;
  justify-content: space-between;
  background-color: none;
  border-radius: none;
  padding: 0;
}
.nav-links li {
  border: none;
  width: 103px;
  /* border-bottom: 1px solid rgba(215, 22, 77, 0.391); */
}
.nav-links li a {
  font-size: 2.6rem;
  line-height: 2.4rem;
}
.nav-links #opt-about {
  padding-left: 14px;
}
.nav-links__opt {
  transition: 0.5s;
}
.nav-links__opt:hover {
  transform: scale(1.15);
  color: #f6184c;
  text-shadow:  1px 1px 8px #f6184c8a;
}


/* BUTTONS OPEN AND CLOSE MENU */


/* SECTION HOME */
.sect-home__m-txt {
  font-size: 7.4rem;
  line-height: 6.8rem;
  letter-spacing: 0.18rem;
}
.sect-home__m-txt span {
  font-size: 7.9rem;
  text-shadow:  1px 1px 22px #f6184c8a;
}
.sect-home__s-txt {
  font-size: 2.3rem;
}


/* MAIN BUTTONS */
.button {
  width: 224px;
  height: 5.1rem;
  font-size: 2.2rem;
}


/* TITLES */
.title {
  font-size: 5.4rem;
  line-height: 4.8rem;
  margin-bottom: 70px;
  text-shadow:  1px 1px 22px #f6184c8a;
}


/* SECTION ABOUT */
.sect-about {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 140px;
}
.sect-about__txt-zone {
  width: 49%;
}
.sect-about__txt-zone p {
  font-size: 1.6rem;
  margin-right: 40px;
}  

.sect-about__img {
  width: 33%;
  margin-left: 0;
  padding-left: 70px;
}
.sect-about img {
  width: 100%;
  height: 33vw;
  max-width: 270px;
  max-height: 276px;
  margin: 0;
}


/* SECTION SKILLS */
.sect-skills {
  margin-bottom: 0;
  margin-bottom: 140px;
}
.sect-skills__txt-zone p {
  margin-bottom: 60px;
  font-size: 1.6rem;
}
.sect-skills__list {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 54px;
  justify-content: space-between;
  width: 82%;
}
.sect-skills__list img {
  width: 86px;
  height: 86px;
  margin-bottom: 8px;
}
.sect-skills__list span {
  font-size: 1.6rem;
}


/* SECTION PROJECTS */
.sect-projects {
  margin-bottom: 140px;
}
.sect-projects__txt-zone p {
  margin-bottom: 60px;
  font-size: 1.6rem;
}

.sect-projects__wall {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 40px;
  margin-bottom: 15px;
  justify-content: space-between;
}
.project {
  min-height: 140px;
  width: 24vw;
  height: 20vw;
  max-height: 290px;
}
.project img {
  height: calc(100% - 64px);
}
.project__info {
  height: 64px;
}
.project__title {
  font-size: 1.4rem;
}
.project__tools span {
  font-size: 1.4rem;
}



/* SECTION CONTACT */
.sect-contact {
  margin-bottom: 0;
  padding-bottom: 50px;
}
.sect-contact__txt-zone p {
  margin-bottom: 60px;
}
.sect-contact__form-cont {
  border-radius: 26px;
  padding: 26px;
}
.sect-contact__form-cont label {
  line-height: 2.6rem;
  font-size: 2rem;
  margin-bottom: 13px;
}
.sect-contact__form-cont .input-field {
  border-radius: 16px;
}


/* SECTION FOOTER */
.footer {
  padding-top: 40px;
  padding-bottom: 32px;
}

.footer__content {
  padding-bottom: 0;
  min-height: 140px;
  margin-bottom: 20px;
}
.footer__text {
  width: 82%;
  font-size: 1.5rem;
}

.footer__author {
  width: 82%;
  margin-bottom: 0;
}
.footer__author p {
  font-size: 1.4rem;
}


/* SOCIAL LINKS */
.social-links {
  top: 37%;
  right: 18px;
}
.social-links img {
  width: 28px;
  height: 28px;
  margin-bottom: 18px;
}


/* ARROW UP */
.scroll-up {
  right: 9px;
  bottom: 12px;
}

.arrow-up {
  width: 45px;
  height: 45px;
}


/* SECTION FOOTER */



